
//======================================================
.menu > .item:hover {
    background-color: purple;
}
//======================================================
.sidebar {
  float: right;
}
.item {
	display: inline-block;
	margin: 0 10px 0 0;
}

.item {
  position: relative;
  display: inline-block;
  
}
.subItem {
  display: none;
  position: relative;
  font-weight: bold;
  min-width: 160px;
  z-index: 1;
}
.item:hover .subItem {display: block;}
//======================================================
* { box-sizing: border-box; }
.bargraph {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 100vh;
  width: 70vw;
  padding: 5px 10px;
}

[class*="bar"] {
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
  transition: all .6s ease;
  grid-row-end: 102;
}

.bar1 {
  grid-row-start: 1;
}

.bar2 {
  grid-row-start: 30;
}

.bar3 {
  grid-row-start: 20;
}

.bar4 {
  grid-row-start: 50;
}
//======================================================
.flexbottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   clear: both;

}

.flexbottom >　.mon {
  display: flex;
  flex: 0 0 33.3333%;
  flex-direction: column;
  border: black solid;
}
.container >* > * {
    width:  100%;
}

//======================================================
@media only screen and (max-width : 732px){
  body > * > *{
    display: flex;
    flex-direction: row;
    width:  100%;
  }
   div {
  display: block;
  }
}